<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Product Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to the WebShop!</h1>
        <p class="lead">Manage your products easily.</p>
        <hr class="my-4">
        <p>Choose an option below to get started:</p>
        <a class="btn btn-primary btn-lg" th:href="@{/products/list}" role="button">View Products</a>
        <a class="btn btn-success btn-lg" th:href="@{/products/create}" role="button">Add New Product</a>
    </div>
</div>
</body>
</html>
